/*
*** 1 rem = 16px

*** THEME COLORS: 
primary: #6633ff , secondary: #24207a , tertiary: #9f8fff , 
dark: #06060c , light: #f9f9f9

*** VISUAL RULES BY MATI, THE GRAPHIC NAZI:
- Try NOT to use font-size other than specified p,h1-6 sizes.
- Use specified fonts.
- Use theme colors.
- NO BORDER-RADIUS.
- NO SHADOWS.
- NO GLOW, 3D, GLITTER, ETC.
- NO unnecessary text stylization (italics, bold).
- Use HTML entities for advanced punctuation (e.g. ellipsis).
  		(See: https://goo.gl/bs4FBW)
*/


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800|Space+Mono:400,700');


/* UNIVERSAL/RESETS */

* {
   font-family: 'Montserrat', sans-serif;
	box-sizing: inherit;
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
}
html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   left: 0;
   top: 0;
   font-size: 100%;
	background-color: #f9f9f9;
}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	font-weight: 500;
	font-size: 0.85rem;
}
a:visited {
	color: #000;
}
table {
	border-spacing: 0;
}
fieldset,img {
	border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-weight: normal;
	font-style: normal;
}
strong {
	font-weight: bold;
}
ol,ul {
	list-style: none;
	margin:0;
	padding:0;
}
caption,th {
	text-align: left;
}
q:before,q:after {
	content:'';
}
abbr,acronym { 
	border: 0;
}
h1 {
   font-size: 6rem;
	font-weight: 600;
	letter-spacing: -3;
}
h2 {
   font-size: 4rem;
	font-weight: 600;
	letter-spacing: -2;
}
h3 {
   font-size: 3rem;
	font-weight: 600;
	letter-spacing: -1.5;
}
h4 {
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.2;
}
h5 {
   font-size: 1.5rem;
	font-weight: 400;
}
h6 {
   font-size: 0.875rem;
	font-weight: 400;
}
p {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.4;
}
.smallcaps {
	letter-spacing: 6;
	font-variant-caps: all-small-caps;
	font-feature-settings: "c2sc", "smcp";
}
textarea { 
	outline: none; 
}
label {
	font-size: 1.125rem;
	font-weight: 400;
}
input {
	outline: none;
	border: none;
	width: 16rem;
	height: 2rem;
	font-size: 1.125rem;
	padding: 0.5rem;
	font-family: 'Space Mono', monospace;
}
button {
	outline: none;
	background: #fff;
	border: none;
	font-size: 1.125rem;
	height: 2rem;
	display: inline;
	cursor: pointer;
}
::selection { /* SELECTED TEXT BG COLOR */
    background: #6633ff;
	color: #fff;
}
::-moz-selection {
    background: #6633ff;
	color: #fff;
}

/* POSITIONING */

.left {
    text-align: left;
}
.right {
    text-align: right;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.justify {
    text-align: justify;
}


/* GRID SYSTEM */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
   float: left;
	padding: 1rem;
}

.row::after {
   content: '';
   clear: both;
   display: table;
}

#body-wrapper {
   position: relative;
	padding-top: 4rem;
   overflow: hidden;
   padding-bottom: 200px;
}

.page-container {
   margin: 0 auto;
   min-height: 100%;
	max-width: 1400px;
}

/*!!!!!TESTING VISULAS!!!!!*/
.page-container div {
	border: 1px solid #ddd;
}
.errors	{
	display: inline-block;
	float: left;
	background: url('img/warning.png') no-repeat left center;
	background-color: #f44336;
	color: #fff;
	text-align: left;
	padding: 1rem;
	padding-left: 3.5rem;
	font-family: 'Space Mono', monospace;
	text-transform: uppercase;
	letter-spacing: 1.5;
}

/*!!!!!*/


/* HEADER */

#nav-container {
	background-color: #06060c;
	width: 100%;
	height: 4rem;
	position: fixed;
	top: 0;
	z-index: 2;
}

#nav-menu-wrapper {
	position: absolute;
	top: 0;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	height: 4rem;
}

#nav-menu {
	width: 100%;
	display: inline-block;
	list-style: none;
}

#nav-menu li {
	display: inline-block;
	margin-top: 1.4rem;
}

#nav-menu a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.5);
	margin: 0 0.25rem;
	padding: 0.5rem 0.75rem;
	letter-spacing: 0.5;
}

#nav-menu a:hover {
	color: #fff;
}

.current, .current path {
	 color: #fff !important;
	 fill: rgba(255, 255, 255, 1) !important;
}

#cta-link {
	transition: background-color 0.15s ease-out;
	-webkit-transition: background-color 0.15s ease-out;
	-moz-transition: background-color 0.15s ease-out;
	-o-transition: background-color 0.15s ease-out;
	background-color: #6633ff;
	color: #fff !important;
	font-weight: 400 !important;
}

#cta-link:hover {
	background-color: #24207a;
}

.img-helper {
	 display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#logo-container {
	display: inline;
	cursor: pointer;
}

#logo-container img {
	height: 32px;
	vertical-align: middle;
	display: inline-block;
	margin-left: 2rem;
}

#logo-container a {
	display: inline-block;
}

#profile-img-link {
	float: right;
	position: relative;
	padding: 1.25rem 2rem;
}

#profile-img {
	height: 25px;
	vertical-align: middle;
}

a.svg-link:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#profile-img path {
	transition: fill 0.25s ease-out;
	-webkit-transition: fill 0.15s ease-out;
	-moz-transition: fill 0.15s ease-out;
	-o-transition: fill 0.15s ease-out;
	fill: rgba(255, 255, 255, 0.5);
}

a.svg-link:hover path {
	fill: rgba(255, 255, 255, 1) !important;
}


/* FOOTER */

footer {
	position: absolute;
	width: 100%;
	height: 200px;
	bottom: 0;
	left: 0;
	color: #fff;
	background-color: #06060c;
}

.footer-container {
	width: 1200px;
	margin: 0 auto;
}

.footer-col {
	float: left;
	padding: 1.5rem 0;
}

.footer-col ul {
	list-style: none;
	display: inline;
	float: left;
	margin-bottom: 2rem;
}

.footer-col li {
	display: inline;
	padding-bottom: 1rem;
	padding-right: 2rem;
}


.footer-col a, .footer-col h6 {
	color: rgba(255, 255, 255, 0.6);
}

.footer-col a:hover {
	color: #fff;
}

#connect {
	margin-left: 6rem;
}

#follow {
	float: right;
	text-align: right;
	margin: 1.5rem 0;
}

#icons {
	margin-top: 0.5rem;
	text-align: right;
}

#icons li {
	display: inline-block;
	margin-left: 1.5rem;
}

.fa {
	color: rgba(255, 255, 255, 0.6);
}

.fa:hover {
	color: #fff;
}

#newsletter input {
	height: 2.5rem;
	padding: 0.5rem;
	font-weight: 500;
}

#newsletter-email {
	border: solid 0.125rem rgba(255, 255, 255, 0.6);
	background: none;
	color: #fff;
}

#newsletter-email:focus {
	border-color: #fff;
}

#newsletter-submitbtn {
	width: auto;
	height: 2.5rem;
	text-align: right;
	margin-left: -0.25rem;
	float: left;
	background: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 0.875rem;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.6);
	margin-top: 0.5rem;
}

#newsletter-submitbtn:hover {
	color: #fff;
}

/*HOMEPAGE*/

#top-banner {
	width: 100%;
	height: 400px;
	background-color: #6633ff;
	display: block;
	position: relative;
}

#top-banner-wrapper {
	width: 1115px;
	display: block;
	margin: 0 auto;
}

#banner-img {
	float: left;
	display: inline-block;
}

#reg-form {
	position: absolute;
	float: left;
	display: inline;
	line-height: 1;
	top: -1.5rem;
	margin-left: 2rem;
}

#reg-form td {
	padding: 0.5rem 1rem;
	color: #fff;
	text-align: right;
}

#reg-form th {
	padding: 0.5rem 1rem;
	color: #fff;
	text-align: left;
	font-weight: 500;
}

#reg-form input {
	width: 24rem;
	height: 3rem;
	background-color: #24207a;
	border: solid 0.125rem #24207a;
	color: #fff;
	font-variant-ligatures: none;
	padding: 1rem;
	letter-spacing: 1.5;
}

#reg-form input:focus {
	border-color: #9f8fff;
}

#reg-form::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9f8fff;
	font-size: 1rem;
}
#reg-form::-moz-placeholder { /* Firefox 19+ */
    color: #9f8fff;
	font-size: 1rem;
}
#reg-form:-ms-input-placeholder { /* IE 10+ */
    color: #9f8fff;
	font-size: 1rem;
}
#reg-form:-moz-placeholder { /* Firefox 18- */
    color: #9f8fff;
	font-size: 1rem;
}

#reg-loginbtn, #reg-signupbtn {
	height: 2.5rem;
	width: 45%;
	float: left;
	font-weight: 500;
	color: #24207A;
}

#reg-signupbtn {
	border-bottom: 0.25rem solid #9f8fff;
}

#reg-signupbtn:active {
	border-bottom: none;
	border-top: 0.25rem solid #6633ff;
}

#reg-loginbtn {
	background: none;
	color: #fff;
	text-align: right;
	float: right;
	font-size: 0.875rem;
	height: 1rem;
}

#reg-loginbtn::after {
	content: ' \00BB';
}

#reg-loginbtn:hover {
	text-decoration: underline;
}

/*BROWSE*/

.sub-nav {
	margin: 1.5rem 0;
	vertical-align: middle;
}

.sub-nav li {
	display: inline;
	margin: 0 0.25rem;
	padding: 0.5rem 0.75rem;
}

.sub-nav a {
	font-weight: 500;
	color: #06060c;
}

.sub-nav a:hover {
	color: #6633ff;
}

.sub-current {
	color: #6633ff !important;
}

<<<<<<< HEAD
/*HOW IT WORKS*/

#how-it-works-heading h4 {
	padding: 2rem 0rem 2rem 0rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 30pt;
}

.highlight {
	color: #6633ff;
}

.how-icon-container {
	background-color: #6634ff;
	border-radius: 50%;
	height: 10rem;
	width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.how-icon-container img {
	height: 85px;
}

.how-step-container {
	margin: 2rem 2rem 0rem 2rem;
	padding: 1rem 1rem 1rem 1rem;
}

.how-step-container p, h3{
	display: inline;
}

.how-step-container p {
	width: 100px;
}

#get-a-job {
	background-color: #000;
}


=======
>>>>>>> 55cfc39842b95a95862c4ede88aae111e8e95813
/*PROFILE PAGE*/

#profile-info {
	text-align: center;
}

#avatar {
	background-image: url('img/profile-pic.jpg');
	width: 200px;
	height: 200px;
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	margin: 0 auto;
	margin-bottom: 2rem;
}

#profile-work div {
	height: 300px;
}


/*LOGIN PAGE*/

#loginform {
	clear: both;
}

#loginform input {
	height: 3rem;
	margin-bottom: 1rem;
	border: solid 0.125rem #ddd;
	background-color: #ddd;
	width: 100%;
	font-variant-ligatures: none;
	padding: 1rem;
	letter-spacing: 1.5;
}

#loginform input:focus {
	border-color: #6633ff;
}

#loginbtn {
	height: 2.5rem;
	width: 50%;
	float: left;
	font-weight: 500;
	background-color: #6633ff;
	color: #fff;
	border-bottom: 0.25rem solid #24207a;
}

#loginbtn:active {
	border-bottom: none;
	border-top: 0.25rem solid #f9f9f9;
}

#forgotbtn {
	color: #06060c;
	padding-top: 0.6rem;
	float: left;
	width: 50%;
	text-align: center;
	font-size: 0.875rem;
	height: 1rem;
}

#forgotbtn::after {
	content: ' \00BB';
}

#forgotbtn:hover {
	text-decoration: underline;
}

#reg-form2 {
	background-color: #6633ff;
	color: #fff;
	padding: 1rem 4rem;
}

#reg-form2 form {
	width: 100%;
	margin-top: -2.9rem;
}

#reg-form2 h2 {
	font-weight: 500;
}

#reg-form2 td {
	padding: 0.5rem 0;
	color: #fff;
	text-align: right;
}

#reg-form2 input {
	width: 432.61px;
	height: 3rem;
	background-color: #24207a;
	border: solid 0.125rem #24207a;
	color: #fff;
	font-variant-ligatures: none;
	padding: 1rem;
	letter-spacing: 1.5;
}

#reg-form2 input:focus {
	border-color: #9f8fff;
}

#reg-form2::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9f8fff;
	font-size: 1rem;
}
#reg-form2::-moz-placeholder { /* Firefox 19+ */
    color: #9f8fff;
	font-size: 1rem;
}
#reg-form2:-ms-input-placeholder { /* IE 10+ */
    color: #9f8fff;
	font-size: 1rem;
}
#reg-form2:-moz-placeholder { /* Firefox 18- */
    color: #9f8fff;
	font-size: 1rem;
}


@media only screen and (min-width: 720px) {
	.page-container {
        max-width: 720px;
  }
	.footer-container{
		width: 720px;
	}
}

@media only screen and (min-width: 960px) {
	.page-container {
        max-width: 960px;
  	}
	.footer-container{
		width: 960px;
	}
}

@media only screen and (min-width: 1400px) {
   .page-container {
        max-width: 1400px;
    }
	.footer-container{
		width: 1400px;
	}
}