@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900|Space+Mono:400,700');

/*
*** 1 rem = 16px
*** THEME COLORS: #6633ff #24207A #111
*/

/* UNIVERSAL */

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
	padding: 0;
	margin: 0;
}
a{
	text-decoration:none;
}
table {
	border-spacing: 0;
}
fieldset,img {
	border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-weight: normal;
	font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
	list-style: none;
	margin:0;
	padding:0;
}
caption,th {
	text-align: left;

}
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	font-size: 100%;
	margin:0;
	padding:0;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
	 background-color: #f9f9f9;
	 margin-top: 3rem;
}

* {
    font-family: 'Montserrat', Helvetica, sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 6rem;
	font-weight: 900;
}

h2 {
    font-size: 3rem;
	font-weight: 700;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

p {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.8;
}


/* POSITIONING */

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.justify {
    text-align: justify;
}

.color-div {
	background-color: #6633ff;
}


/* GRID SYSTEM */

.page-container {
	display: grid;
   margin: 0 auto;
	margin-top: 1rem;
	grid-gap: 1rem;
	grid-template-columns: repeat(12, 1fr);
}

.col-1 {
	grid-column: 1/2;
}

.col-2 {
	grid-column: 1/3;
}

.col-3 {
	grid-column: 1/4;
}

.col-4 {
	grid-column: 1/5;
}

.col-5 {
	grid-column: 1/6;
}

.col-6 {
	grid-column: 1/7;
}

.col-7 {
	grid-column: 1/8;
}

.col-8 {
	grid-column: 1/9;
}

.col-9 {
	grid-column: 1/10;
}

.col-10 {
	grid-column: 1/11;
}

.col-11 {
	grid-column: 1/12;
}

.col-12 {
	grid-column: 1/13;
}




/*!!!!!TESTING GRID!!!!!*/
.page-container div {
	background-color: #dddddd;
	text-align: center;
}



/* HEADER & FOOTER */

#nav-container {
	background-color: #111;
	width: 100%;
	height: 4rem;
	position: fixed;
	top: 0;
}

#nav-menu-wrapper {
	position: absolute;
	top: 0;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	height: 4rem;
}

#nav-menu {
	width: 100%;
	padding: 0;
	display: inline-block;
	list-style: none;
}

#nav-menu li {
	display: inline-block;
	margin-top: 1.25rem;
}

#nav-menu a {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
	margin: 0 0.25rem;
	padding: 0.5rem 0.75rem;
	font-variant-ligatures: none;
}

#nav-menu a:hover {
	color: #fff;
}

.current, .current path {
	 color: #fff !important;
	 fill: rgba(255, 255, 255, 1) !important;
}

#super-link {
	transition: background-color 0.15s ease-out;
		-webkit-transition: background-color 0.15s ease-out;
	   -moz-transition: background-color 0.15s ease-out;
	   -o-transition: background-color 0.15s ease-out;
	background-color: #6633ff;
	color: #fff !important;
	font-weight: 400 !important;
}

#super-link:hover {
	background-color: #452abd;
}

.helper {
	display: inline-block;
   height: 100%;
   vertical-align: middle;
}

#logo-container img {
	vertical-align: middle;
	display: inline-block;
	margin-left: 2rem;
	position: relative;
}

#profile-img-link {
	float: right;
	position: relative;
	padding: 1.25rem 2rem;
}

#profile-img {
	height: 25px;
	vertical-align: middle;
}

a.svg-link:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#profile-img path {
	transition: fill 0.25s ease-out;
		-webkit-transition: fill 0.15s ease-out;
	   -moz-transition: fill 0.15s ease-out;
	   -o-transition: fill 0.15s ease-out;
	fill: rgba(255, 255, 255, 0.5);
}

a.svg-link:hover path {
	fill: rgba(255, 255, 255, 1) !important;
}






form {
    font-family: 'Space Mono', monospace;
    color:#FFF;
    font-size:0.5em;
    margin-bottom: 0.3em;
    letter-spacing: 2px;
}

input[type=submit] {
    background-color: #FFF;
    border: none;
    color: black;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
}

input[type=text], input[type=email] {
    margin: 0.2em 0.8em 0.2em 0em;
}

input[type=submit] {
    margin: 0.7em 0.8em 0.2em 0em;
}

li:first-child {
  margin-top:0px;
}

footer {
     background-color: #111;
     padding:70px 0px;
     font-family: 'Space Mono', monospace;
     color: #333447;
     font-size: 1.5em;
     width:100%;
     height:30%;
}



.adress span , .content span , .contact span{
   color: #FFF;
   font-weight: 600;
   padding-bottom: 10px;
   margin-bottom: 20px;
   display: block;
   text-transform: uppercase;
   font-size: 13px;
   letter-spacing: 3px;
}

.content span {
    margin-bottom: 7px;
}

.contact span {
    margin-bottom: 16px;
}

.adress li p , .content li a , .contact li a{
    color:#FFF;
    letter-spacing: 2px;
    text-decoration:none;
    font-size:12px;
}

.contact li{
    float:left;
}


.adress , .content , .contact {
    list-style: none;
}


.adress p:hover, .content a:hover {
	color: #6633ff;
}




.footercol{
    float:left;
    padding-left:2%;
    padding-right:2%;
    width:29.33%;
}

.fa{
    color:#9c9c9c;
    margin-right: 10px;
    font-size:1.5em;
}

.footercol{
    float: none;
    padding-left:2%;
    padding-right:2%;
    width:96%;
}




@media only screen and (min-width: 720px) {
	.page-container {
        max-width: 720px;
  }

}

@media only screen and (min-width: 960px) {
	.page-container {
        max-width: 960px;
  }
}

@media only screen and (min-width: 1600px) { /* DESKTOP */
    .page-container {
        max-width: 1600px;
  }

}
