@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900|Space+Mono:400,700');

/* 
*** 1 rem = 16px 
*** THEME COLORS: #5836FF #111 
*/

/* UNIVERSAL */

div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
	padding: 0;
	margin: 0;
}
a{
	text-decoration:none;
}
table {
	border-spacing: 0;
}
fieldset,img {
	border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-weight: normal;
	font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
	list-style: none;
	margin:0;
	padding:0;
}
caption,th {
	text-align: left;

}
h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	font-size: 100%;
	margin:0;
	padding:0;
	color:#444;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
	background-color: #ccc;
}

* {
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: #333447;
    line-height: 1.5;
}

h1 {
    font-size: 6rem;
	font-weight: 900;
}

h2 {
    font-size: 3rem;
	font-weight: 700;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 0.875rem;
}

p {
    font-size: 1.125rem;
    font-weight: 200;
    line-height: 1.8;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-heavy {
    font-weight: 700;
}




/* POSITIONING */

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.justify {
    text-align: justify;
}




/* GRID SYSTEM */

.page-container {
	display: grid;
    margin: 0 auto;
	margin-top: 1rem;
	grid-gap: 1rem;
	grid-template-columns: repeat(12, 1fr);
}

.col-1 {
	grid-column: 1/2;
}

.col-2 {
	grid-column: 1/3;
}

.col-3 {
	grid-column: 1/4;
}

.col-4 {
	grid-column: 1/5;
}

.col-5 {
	grid-column: 1/6;
}

.col-6 {
	grid-column: 1/7;
}

.col-7 {
	grid-column: 1/8;
}

.col-8 {
	grid-column: 1/9;
}

.col-9 {
	grid-column: 1/10;
}

.col-10 {
	grid-column: 1/11;
}

.col-11 {
	grid-column: 1/12;
}

.col-12 {
	grid-column: 1/13;
}




/*!!!!!TESTING GRID!!!!!*/
.page-container div {
	background-color: #dddddd;
	text-align: center;
	border-radius: 0.5rem;
}




/* HEADER & FOOTER */

#nav-container {
	width: 100%;
	background-color: #111;
}

#nav {
	margin: 0 auto;
	width: 75rem;
	height: 4rem;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 1rem;	
}

#nav-menu {
	display: block
}

#nav-list {
	list-style: none;
	height: 4rem;
	margin: 0;
	padding: 0;
	grid-template-columns: repeat(8, 1fr);
	grid-gap: 1rem;
}

#nav-list li {
	display: inline-block;
	text-align: right;
	margin-left: 2.5rem;
	margin-top: 1.25rem;	
}

#nav-list a {
	font-family: 'Space Mono', monospace;
	text-decoration: none;
	font-weight: 400;
	font-size: 1rem;
	letter-spacing: 1.2;
	color: #fff;
	padding: 0 0.5rem;
}

#nav-list a:hover {
	color: #5836FF;
	font-weight: 700;
}

#current {
	border-radius: 2px;
	background-color: #5836FF;
	color: #fff;
}

#current:hover {
	font-weight: 700;
	background-color: #fff;
	color: #5836FF;
}

.helper {
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#logo-container img {
	vertical-align: middle;
}




footer{
     background-color: #111;
     padding:70px 0px;
     font-family: 'Space Mono', monospace;
     color: #333447;
     font-size: 1.5em;
     width:100%;
     height:30%;
}	       

.adress span , .content span , .contact span{
   color: #FFF; 
   font-weight: 800; 
   padding-bottom: 10px; 
   margin-bottom: 20px;
   display: block;
   text-transform: uppercase;
   font-size: 13px;
   letter-spacing: 3px;
}

.content span {
    margin-bottom: 7px;
}

.contact span {
    margin-bottom: 16px;
}
 
.adress li p , .content li a , .contact li a{
    color:#FFF;
    letter-spacing: 2px;
    text-decoration:none;
    font-size:12px;
}

.contact li{
    float:left;
}


.adress , .content , .contact {
    list-style: none;
}


.adress p:hover, .content a:hover {
	color: #5836FF;
}

.footercol{
    float:left;
    padding-left:2%;
    padding-right:2%;
    width:29.33%    
}

.fa{
    color:#9c9c9c;
    margin-right: 10px;
    font-size:1.5em;
}

form{
    
    font-family: 'Space Mono', monospace;
    color:#FFF;
    font-size:0.5em;
    margin-bottom: 0.3em;
    letter-spacing: 2px;
}

input[type=submit]{
    background-color: #FFF;
    border: none;
    color: black;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    text-transform: uppercase;
}

input[type=text], input[type=email]{
    margin: 0.2em 0.8em 0.2em 0em;
}

input[type=submit]{
    margin: 0.7em 0.8em 0.2em 0em;
}

li:first-child{
  margin-top:0px;
}





/*
@media only screen and (min-width: 33.75em) {  
	.page-container {
        max-width: 33.75rem;
  }
	
}

@media only screen and (min-width: 45em) {  
	.page-container {
        max-width: 45rem;
  }
}
*/
@media only screen and (min-width: 75em) { /* 960px - DESKTOP */
    .page-container {
        max-width: 75rem;
  }
    
    .footercol{
    float:none;
    padding-left:2%;
    padding-right:2%;
    width:96%    
}

}
